activations
venv
__pycache__
.pytest_cache
.ipynb_checkpoints
.env
notebooks/scratch.ipynb
.vscode
finetuned_models
sync_model.sh
logs
.DS_Store
.hypothesis
*/.DS_Store
/opt/data/private/zjx/ICL/CAA-main/activations_save
/opt/data/private/zjx/ICL/CAA-main/finetune_logs
/opt/data/private/zjx/ICL/CAA-main/datasets/raw
/opt/data/private/zjx/ICL/CAA-main/logs
/opt/data/private/zjx/ICL/CAA-main/new_data
/opt/data/private/zjx/ICL/CAA-main/normalized_vectors_save
/opt/data/private/zjx/ICL/CAA-main/vectors